[submodule "contracts/dante-cross-chain"]
	path = contracts/dante-cross-chain
	url = git@github.com:dantenetwork/dante-cross-chain.git
	branch = feature-no-migration
[submodule "contracts/-b"]
	path = contracts/-b
	url = git@github.com:dantenetwork/star-trek.git
[submodule "contracts/star-trek"]
	path = contracts/star-trek
	url = git@github.com:dantenetwork/star-trek.git
	branch = feature-frame
