[submodule "router"]
	path = router
	url = git@github.com:dantenetwork/router.git
	branch = alpha-v0.2.1
[submodule "star-trek-tools"]
	path = star-trek-tools
	url = git@github.com:dantenetwork/star-trek-tools.git
[submodule "contracts/dante-cross-chain"]
	path = contracts/dante-cross-chain
	url = git@github.com:dantenetwork/dante-cross-chain.git
	branch = feature-no-migration
[submodule "contracts/star-trek"]
	path = contracts/star-trek
	url = git@github.com:dantenetwork/star-trek.git
	branch = feature-frame
